<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pt.projekti_trete">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.net.conn.CONNECTIVITY_CHANGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".activities.ApiActivity">
        </activity>

        <activity android:name=".activities.NewsListActivity">


        </activity>
        <activity android:name=".activities.StaticFragmentActivity" />
        <activity android:name=".activities.FragmentHolderActivity" />
        <activity android:name=".fragments.SecondStaticFragment" />
        <activity android:name=".fragments.FirstStaticFragment" />
        <activity android:name=".fragments.SecondFragment" />
        <activity android:name=".fragments.FirstFragment" />
        <activity android:name=".activities.CheckConnection" />
        <activity android:name=".activities.LocalParserJsonActivity" />
        <activity android:name=".activities.GetCurrentLocation" />
        <activity android:name=".activities.Popup" />
        <activity android:name=".activities.SharedPreferences" />
        <activity android:name=".activities.WebView" />
        <activity android:name=".activities.DrawerLayoutActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
    </application>

</manifest>